body, html {
  height: 100%;
  color: 0;
  line-height: 1.8;
  font-family: monospace;
}

p {
  font-family: monospace;
}

h3 {
  font-family: monospace;
  font-weight: bolder;
}
.navbar{
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1;
}
.navbar-item {
  padding: 8px 16px;
  float: left;
  width: auto;
  border: none;
  display: block;
  outline: 0;
  text-decoration: none;
  font-family: monospace;
}

.button{
  text-decoration: none;
}

.button:hover {
  font-size: 125%;
  size: 125%;
}

/* Create a Parallax Effect */
.bgimg-1,
.bgimg-2,
.bgimg-3 {
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

/* First image (Logo. Full height) */
.bgimg-1 {
  background-image: url('/assets/media/offlinevideo.gif');
  min-height: 100%;
}

/* Second image (Portfolio) */
.bgimg-2 {
  background-image: url("/assets/media/raze.png");
  min-height: 400px;
}

/* Third image (Contact) */
.bgimg-3 {
  background-image: url("/assets/media/sage.png");
  min-height: 400px;
}

.center-heading {
  font-style: italic;
  border-radius: 5px;
}

/* animation tags */
.animate-bottom {
  position: relative;
  animation: animatebottom 1.0s
}

@keyframes animatebottom {
  from {
    bottom: -300px;
    opacity: 0
  }

  to {
    bottom: 0;
    opacity: 1
  }
}

/* Position Tags*/
.display-middle {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%)
}

.center {
  text-align: center;
}

.image {
  max-width: 100%;
  height: auto;
}

.rounded {
  border-radius: 5px; 
}

/* Colours */

.black {
  background-color: white;
}

.gray{
  background-color: gray;
}

.social {
  width: 20px;
  height:auto;
}

.social:hover{
  width: 30px;
  height: auto;
}

.border-black{
  background-color: black;
  color: white;
  border-radius: 5px;
  padding: 5px;
}

.portfolio-image:hover{
  transform: scale(1.05);
}

.opacity-min {
  opacity: 0.75
}